{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/alerts.html' %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Dashboard</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">my account</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li><a class="active" href="dashboard.html">Dashboard</a></li>
					{% comment %} <li><a href="order.html">Orders</a></li>
					<li><a href="address.html">Address</a></li> {% endcomment %}
					<li><a href="profile-details.html">Add New Recipe</a></li>
				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<div class="media">
						<div class="pull-left">
							<img class="media-object user-img" src="{{user_obj.dp.url}}" alt="Image">
						</div>
						<div class="media-body">
							<h1 class="media-heading">{{user_obj.first_name|capfirst}}</h1>
							<p> Email: {{user_obj.email}} </p> 
							<p> Phone : {{user_obj.phone_number}} </p> 

						</div>
					</div>
					<div class="total-order mt-20">
						<h4>My Recepies</h4>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Dishname</th>
										<th>Date</th>
										<th>Category</th>
										<th>Actions</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for i in my_filtered_blogs %}
									<tr>
										<td><a href="#!">{{i.title}}</a></td>
										<td>{{i.time}}</td>
										<td>{{i.categories}}</td>
										<td><button>Edit</button>
										<button>Delete</button>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}