{% load static %}

<!-- Start Top Header Bar -->
<section class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12 col-sm-4">
				<div class="contact-number">
					<ul class="top-menu text-left list-inline">
						<!-- Login -->
						{% if user.id is None %}
						<li>
							<a href="{% url 'register' %}">SIGN UP</a>
							
						</li><!-- / login -->
						<li> <a href="{% url 'login' %}">LOGIN</a> </li>
						{% else %}
						<li>
							<a href="{% url 'dashboard' %}">Hi, {{ user.first_name }} / Dashboard</a>
						</li><!-- / login -->
						<li> <a href="{% url 'logout' %}">Logout</a> </li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Site Logo -->
				<div class="logo text-center">
					<a href="{% url 'home' %}">
						<img src="{% static 'images/15eleven_logo-02-crop.png' %}" alt="image" width = "160px" height="40px">
					</a>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Cart -->
				<ul class="top-menu text-right list-inline">

					<!-- Search -->
					<li class="dropdown search dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
								class="tf-ion-ios-search-strong"></i> Search</a>
						<ul class="dropdown-menu search-dropdown">
							<li>
								<form action="{% url 'search' %}"><input type="search" class="form-control" placeholder="Search..." name="keyword" method="GET"></form>
							</li>
						</ul>
					</li><!-- / Search -->

					

				</ul><!-- / .nav .navbar-nav .navbar-right -->
			</div>
		</div>
	</div>
</section><!-- End Top Header Bar -->
<!-- Main Menu Section -->
<section class="menu">
	<nav class="navbar navigation">
		<div class="container">
			<div class="navbar-header">
				<h2 class="menu-title">Main Menu</h2>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse text-center">
				<ul class="nav navbar-nav">

					<!-- Home -->
					<li class="dropdown ">
						<a href="{% url 'home' %}">Home</a>
					</li><!-- / Home -->


                    <!-- Shop -->
					<li class="dropdown ">
						<a href="{% url 'recipes' %}">Recipes</a>
					</li><!-- / shop -->
                   
					<!-- Categories -->
					<li class="dropdown ">
						<a href="#categories" data-toggle="dropdown" role="button" onclick="scrollToSection()"data-hover="dropdown" data-delay="350">Categories</a>
					</li><!-- / shop -->


					



					
                    
				</ul><!-- / .nav .navbar-nav -->
                
			</div>
			<!--/.navbar-collapse -->
		</div><!-- / .container -->
        
	</nav>
</section>
<script>
	function scrollToSection() {
		var section = event.target.hash;
		document.querySelector(section).scrollIntoView({behavior: "smooth"});
	}
	</script>
 
	