{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url(static/images/gallery/hero.jpg);">
		<div class="container">
		  <div class="row">
			<div class="col-lg-8 text-left">
			  <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">MEALS</p>
			  <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Never again waste time  <br> thinking about what to eat! </h1>
			  <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="{% url 'recipes' %}">See Recipes</a>
			</div>
		  </div>
		</div>
	</div>
  <div class="slider-item th-fullpage hero-area" style="background-image: url(static/images/gallery/gallery-3.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-left">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">RECIPES</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Home cooks are our heroes <br> —it's as simple as that.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="{% url 'recipes' %}">See Recipes</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item th-fullpage hero-area" style="background-image: url(static/images/gallery/gallery-6.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-right">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">RECIPES</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Get in-the-know with the scoop on all the hottest food trends. <br> the scoop on all the hottest food trends.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="{% url 'recipes' %}">See Recipes</a>
        </div>
      </div>
    </div>
  </div> 
</div>

<section class="product-category section" id = "categories">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Food Category</h2>
				</div>
			</div>
			<div class="col-md-6">
				
				<div class="category-box">
					<a href="{% url 'veg' %}">
						<img src="{% static 'images/gallery/gallery-8.jpg' %}" alt="Category-name" />
						<div class="content">
							<h3>Veg</h3>
							<p>SHakahari</p>
						</div>
					</a>	
				</div>
				<div class="category-box">
					<a href="{% url 'nonveg' %}">
						<img src="{% static 'images/gallery/gallery-2.jpg' %}" alt="" />
						<div class="content">
							<h3>Nonveg</h3>
							<p>Margha</p>
						</div>
					</a>	
				</div> 
				
			</div>
			<div class="col-md-6">
				
				<div class="category-box category-box-2">
					<a href="{% url 'healthy' %}">
						<img src="{% static 'images/gallery/healthy.jpg' %}" alt="" />
						<div class="content">
							<h3>Healthy</h3>
							<p>Special Food Comes First</p>
						</div>
					</a>	
				</div>
				
			</div>
		</div>
	</div>
</section>




{% endblock content %}

